*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 800px;
    margin: auto;
}

.box
{
    width: 80px;
    aspect-ratio: 1;
    border: 1px solid;
    margin: 2px;
    text-align: center;
    line-height: 80px;
}

.box_fizz
{
    background-color: rgb(159, 36, 36);
}
.box_buzz
{
    background-color: rgb(35, 168, 69);
}
.box_fizzbuzz
{
    background-color: rgb(210, 210, 7);
}
.box_default
{
    background-color: rgb(7, 183, 210);
}